.git
.idea
.vscode
.DS_Store

node_modules
**/node_modules

dist
dist-ssr
**/dist
**/dist-ssr

apps/server/bin
apps/server/.env
apps/server/.env.*
!apps/server/.env.example

logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
