
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@import "tw-animate-css";
@import "./assets/css/shadcn-theme.css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --font-heading: var(--font-mono);
}

@layer base {
  html {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100%;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
    overflow: hidden;
    height: 100%;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

div {
  @apply box-border;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

